@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");
#fifth-section .main {
  margin-top: 6.9445vw;
  width: 88.88vw;
  height: 27.77vw;
  background-color: #f9d15c;
  display: flex;
  border-radius: 12px;
}
#fifth-section .main .left img {
  width: 44.44vw;
  height: 27.78vw;
}

#fifth-section .main .right {
  width: 44.44vw;
  height: 27.78vw;
}
#fifth-section .main .right img {
  margin: 2.9166vw 20.069444444444446vw 0;
  border-radius: 97px;
  width: 4.305vw;
  height: 4.44vw;
}
#fifth-section .main .right h2 {
  margin: 0.556vw 18.26389vw 0 18.1943vw;
  width: 7.9861vw;
  height: 2.2223vw;
  font-weight: normal;
  font-family: "Open Sans";
  font-size: 1.112vw;
  color: #555555;
}
#fifth-section .main .right p {
  margin: 1.59722vw auto 0;
  width: 34.5836vw;
  height: 10vw;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  font-size: 2.0833vw;
  line-height: 2.5vw;
  color: #222222;
}
#fifth-section .main .right .line {
  margin: 3.0554vw auto 0;
  width: 2.0833vw;
  border: 0.1389vw solid #3771c8;
}
