@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");
#sixth-section {
    font-family: "Open Sans";
}

#sixth-section .header {
    margin-top: 8.26388vw;
}

#sixth-section .header h2 {
    font-weight: 600;
    font-size: 2.77vw;
    line-height: 4.166vw;
    color: #000000;
}

#sixth-section .header p {
    margin-top: 1.38vw;
    width: 28.4027vw;
    font-size: 1.11vw;
    line-height: 1.94vw;
    color: #555555;
}

#sixth-section .bar {
    margin-top: 1.38vw;
    display: flex;
}

#sixth-section .bar .boxes {
    display: flex;
}

#sixth-section .bar .box {
    padding: 0.55vw 1.7vw;
    background: #ffffff;
    border: 0.0694vw solid #e8e8e8;
    box-sizing: border-box;
    border-radius: 0.55vw;
    font-size: 1.11vw;
    line-height: 1.66vw;
    color: #555555;
    /* text-align: center; */
    margin-right: 2.77vw;
}

#sixth-section .bar .border {
    border: 0.0694vw solid #222222;
    margin-right: 0;
}

#sixth-section .bar .view {
    width: 7.5694vw;
    height: 2.3611vw;
    margin-left: 35.48611vw;
}

#sixth-section .bar .view p {
    margin-left: 1.73612vw;
    font-size: 1.11vw;
    line-height: 1.94vw;
    color: #3771c8;
}

#sixth-section .bar .view .line {
    width: 7.56944vw;
    height: 0.4167vw;
    border: 0.06944vw solid #f9d15c;
    box-sizing: border-box;
    border-radius: 19.44vw;
}

#sixth-section .cards {
    margin-top: 2.7vw;
    display: flex;
    width: 28.8194vw;
}

#sixth-section .cards .card {
    margin-right: 1.944vw;
}

#sixth-section .cards .card img {
    width: 28.5416vw;
    height: 22.22vw;
}

#sixth-section .cards .relative {
    margin-top: 1.38vw;
    position: relative;
}

#sixth-section .cards h2 {
    height: 2.083vw;
    font-weight: 600;
    font-size: 1.38vw;
    line-height: 150%;
    color: #222222;
}

#sixth-section .cards .relative p {
    margin-top: 0.56vw;
    font-weight: 400;
    font-size: 0.972vw;
    line-height: 171%;
    color: #555555;
}

#sixth-section .cards .relative .price {
    position: absolute;
    top: 7.84722vw;
}

#sixth-section .cards .relative .price p {
    font-size: 1.12vw;
    line-height: 100%;
}

#sixth-section .cards .relative .price p span {
    font-size: 1.67vw;
    font-weight: 600;
    color: #3771C8;
}

#sixth-section .cards .relative .details {
    position: absolute;
    width: 5.3472vw;
    height: 2.0833vw;
    padding: 0.56vw 1.0416vw 0.138vw;
    top: 7.84722vw;
    left: 21.5277vw;
    background: #3771C8;
    border-radius: 4px;
    font-weight: 600;
    font-size: 0.9722vw;
    line-height: 143%;
    color: #FFFFFF;
}