
@import url("/styles/asif_styles/Header Css/style.css");
@import url("/styles/asif_styles/first_section_css/style.css");

@import url("styles/osman_styles/osman.css");

@import url("/styles/farid_styles/fifth.css");
@import url("/styles/farid_styles/sixth.css");

@import url("/styles/osman_styles/seventh_section/seventh.css");

@import url("/styles/farid_styles/footer.css");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: auto;
    padding: 2.778vw 5.556vw 4.375vw 5.556vw;
}

@media only screen and (max-width:834px){
    
}