#second-section .second-section {
    margin: 8.333vw 0;
    font-family: "Open Sans", sans-serif;

    .heading {
        font-weight: 600;
        font-size: 2.778vw;
        line-height: 3.472vw;
        margin-bottom: 1.111vw;
    }

    .parentbutton {
        display: flex;
        justify-content: space-between;

        .explanation {
            font-size: 1.111vw;
            line-height: 1.944vw;
            width: 42.014vw;
            height: 3.889vw;
            color: #555555;
        }

        .view {
            width: 7.569vw;
            height: 2.361vw;
            background-color: #fff;
            border: none;
            border-radius: 10px;

            a {
                font-size: 1.111vw;
                line-height: 1.944vw;
                color: #3771c8;
            }
        }

        .view:hover {
            background-color: #3771c8;
            transition: 2s;
        }

        a:hover {
            color: #fff;
        }
    }

    .services {
        display: flex;
        margin-top: 2.778vw;

        .service {
            width: 21.389vw;
            height: 22.222vw;
            margin-right: 1.111vw;
            padding: 2.5vw 0.625vw 3.472vw 1.458vw;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
            border-radius: 8px;

            .header-service {
                display: flex;
                justify-content: center;
                margin-bottom: 2.917vw;

                img {
                    width: 4.722vw;
                    height: 4.722vw;
                }
            }

            .footer-service {
                text-align: center;
                .title {
                    font-size: 1.389vw;
                    line-height: 1.944vw;
                    margin-bottom: 0.833vw;
                }

                .text {
                    width: 19.306vw;
                    height: 5.833vw;

                    font-size: 1.111vw;
                    line-height: 1.944vw;
                    color: #666666;
                }
            }
        }
    }
}

#third-section .third-section {
    margin-top: 8.333vw;
    display: flex;
    font-family: "Open Sans", sans-serif;

    // .left {
    //     background-image: url("/images/third_section/home.jpg") no-repat;
    //     border-radius: 16px;
    // }

    .left {
        width: 43.611vw;
        height: 36.111vw;
        margin-right: 4.167vw;
    }

    .right {
        h2 {
            font-weight: 600;
            font-size: 2.778vw;
            line-height: 3.472vw;
            color: #222222;
            width: 29.097vw;
            height: 6.944vw;
        }
    }
}
