#second-section .second-section {
  margin: 8.333vw 0;
  font-family: "Open Sans", sans-serif;
}
#second-section .second-section .heading {
  font-weight: 600;
  font-size: 2.778vw;
  line-height: 3.472vw;
  margin-bottom: 1.111vw;
}
#second-section .second-section .parentbutton {
  display: flex;
  justify-content: space-between;
}
#second-section .second-section .parentbutton .explanation {
  font-size: 1.111vw;
  line-height: 1.944vw;
  width: 42.014vw;
  height: 3.889vw;
  color: #555555;
}
#second-section .second-section .parentbutton .view {
  width: 7.569vw;
  height: 2.361vw;
  background-color: #fff;
  border: none;
  border-radius: 10px;
}
#second-section .second-section .parentbutton .view a {
  font-size: 1.111vw;
  line-height: 1.944vw;
  color: #3771c8;
}
#second-section .second-section .parentbutton .view:hover {
  background-color: #3771c8;
  transition: 1s;
  cursor: pointer;
}
#second-section .second-section .parentbutton .view:hover a {
  color: #fff;
}
#second-section .second-section .services {
  display: flex;
  margin-top: 2.778vw;
}
#second-section .second-section .services .service {
  width: 21.389vw;
  height: 22.222vw;
  margin-right: 1.111vw;
  padding: 2.5vw 0.625vw 3.472vw 1.458vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}
#second-section .second-section .services .service .header-service {
  display: flex;
  justify-content: center;
  margin-bottom: 2.917vw;
}
#second-section .second-section .services .service .header-service img {
  width: 4.722vw;
  height: 4.722vw;
}
#second-section .second-section .services .service .footer-service {
  text-align: center;
}
#second-section .second-section .services .service .footer-service .title {
  font-size: 1.389vw;
  line-height: 1.944vw;
  margin-bottom: 0.833vw;
}
#second-section .second-section .services .service .footer-service .text {
  width: 19.306vw;
  height: 5.833vw;
  font-size: 1.111vw;
  line-height: 1.944vw;
  color: #666666;
}

#third-section .third-section {
  margin-top: 8.333vw;
  display: flex;
  font-family: "Open Sans", sans-serif;
}
#third-section .third-section .left {
  margin-right: 4.167vw;
  width: 43.611vw;
  height: 36.111vw;
  border-radius: 1.111vw;
  border-bottom-left-radius: 1.111vw;
  border-bottom-right-radius: 1.111vw;
  background-image: url("/images/third_section/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#third-section .third-section .right h2 {
  font-weight: 600;
  font-size: 2.778vw;
  line-height: 3.472vw;
  color: #222222;
  width: 29.097vw;
  height: 6.944vw;
  margin-bottom: 1.389vw;
}
#third-section .third-section .right .right-text {
  font-weight: 400;
  font-size: 1.111vw;
  line-height: 1.944vw;
  color: #555555;
  width: 40.694vw;
  height: 7.778vw;
  padding-right: 30px;
}
#third-section .third-section .right .users {
  display: flex;
  margin-top: 2.778vw;
}
#third-section .third-section .right .users #last-user {
  margin-right: 0;
}
#third-section .third-section .right .users .user {
  color: #222222;
  width: 7.431vw;
  height: 6.25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 4.167vw;
}
#third-section .third-section .right .users .user .header {
  font-weight: 700;
  font-size: 2.083vw;
  line-height: 3.194vw;
  margin-bottom: 1.111vw;
}
#third-section .third-section .right .users .user .content {
  font-weight: 400;
  font-size: 1.111vw;
  line-height: 1.944vw;
}
#third-section .third-section .right .explore {
  width: 11.597vw;
  height: 3.889vw;
  padding: 1.111vw 2.222vw;
  background: #3771c8;
  border-radius: 8px;
  border: none;
  margin-top: 4.167vw;
}
#third-section .third-section .right .explore a {
  color: #fff;
  font-weight: 600;
  font-size: 1.111vw;
  line-height: 1.667vw;
  display: block;
  margin: auto;
}
#third-section .third-section .right .explore:hover {
  width: 11.660vw;
  background-color: #fff;
  border: 1px solid blue;
  cursor: pointer;
}
#third-section .third-section .right .explore:hover a {
  color: #3771c8;
  transition: 0.5s;
}

#fourth-section .fourth-section {
  width: 76.389vw;
  height: 6.944vw;
  display: flex;
  justify-content: center;
  margin-top: 6.944vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
#fourth-section .fourth-section .sponsor {
  width: 10.417vw;
  height: 6.944vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#fourth-section .fourth-section .sponsor img {
  width: 7.986vw;
}
#fourth-section .fourth-section .sponsor #fourthsponsor_firstcomp {
  width: 2.263vw;
  margin-right: 0.358vw;
}
#fourth-section .fourth-section .sponsor #fourthsponsor_secondcomp {
  width: 5.391vw;
}
#fourth-section .fourth-section .sponsor #last-sponsor {
  width: 6.727vw;
}

/*# sourceMappingURL=osman.css.map */
